dash==2.8.1
plotly==5.13.0
pandas==1.5.3
numpy==1.22.4
scipy==1.10.1
scikit-learn==1.2.2
cachetools==5.3.0
tropycal==0.3.1
pyshp==2.3.1
gitpython==3.1.30
requests==2.28.1
matplotlib==3.5.3
networkx==2.8.8
xarray==2022.12.0
cartopy==0.20.3
shapely==1.8.5
pyproj==3.3.0
geos==0.2.3
proj==0.2.0
